 # ENVIRONMENT = localhost / dev
ENVIRONMENT=localhost
# LOG_FORMAT json / colorize
LOG_FORMAT=json 
# FIREBASE EMULATOR HOST
FIRESTORE_EMULATOR_HOST="127.0.0.1:8080"

# Adicionar os arquivos de variaveis de ambiente
# .env.local (Executar em codigo local)
# .env (Executar em funcao serverless)